<div class="wrap">
  <div class="form-page sign-up">
    <h1>GoGoDiary</h1>
    <div class="slogn">
      <p>幫您解決記錄的問題</p>
      <p>GoGoDiary．GoGoForever</p>
    </div>
    <div class="form">
      <h2>SIGN UP</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      label: false,
                      placeholder: 'Email',
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: 'Password',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: 'Password Confirmation',
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "SIGN UP" %>
        </div>
      <% end %>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

