<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
<div class="container">
    <section class="main">
        <%= notice %>
        <table>
            <thead>
                <tr>
                    <th>地點</th>
                    <th>地址</th>
                    <th>時間</th>
                    <th>描述</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @pocket_lists.each do |p| %>
                <tr>
                    <td><%= p.location['name'] %></td>
                    <td><%= p.location['address'] %></td>
                    <td><%= p.expect_date %></td>
                    <td><%= p.description %></td>
                    <td><%= link_to '編輯', edit_pocket_path(:id) %></td>
                    <td><%= link_to '刪除', pocket_path(:id) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </section>
    <section class="layouts/sidebar">
    </section>
</div>