<div class="diarywrap">
<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
<div class="container">
  <section class="main">
  <%= notice %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>地點</th>
        <th>地址</th>
        <th>時間</th>
        <th>描述</th>
      </tr>
    </thead>
    <tbody>
      <%# binding.pry %>
      <% @pockets.each do |pocket| %>
      <tr>
        <% if pocket.location.try(:[],'name') %>
        <td><%= pocket.location.try(:[],'name') %></td>
        <% end %>
        <% if pocket.location.try(:[],'address') %>
        <td><%= pocket.location.try(:[],'address') %></td>
        <% end %>
        <td><%= "#{pocket.expect_date.year}-#{pocket.expect_date.month}-#{pocket.expect_date.day}" %></td>
        <td><%= pocket.description %></td>
        <td><%= link_to '編輯', edit_pocket_path(pocket), class:"btn btn-outline-secondary btn-linkto" %>
          <%= link_to '刪除', pocket_path(pocket), method: "delete", data: { confirm: "確認刪除？" }, class:"btn btn-outline-secondary btn-linkto" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="sidebar">
  <%= render 'layouts/sidedraft' %>
</section>
</div>
</div>