<div class="indexbar">
  <ul>
    <li><%= link_to '標籤', '#',class:'btn' %></li>
    <li><%= link_to '搜尋', '#',class:'btn' %></li>
    <li class="md_dis"><%= link_to 'GoGoDiary', root_path,class:'btn' %></li>
    <li><%= link_to '成就', '#',class:'btn' %></li>
    <li><%= link_to '設定', '#',class:'btn' %></li>
  </ul>
</div>
