<div class="diarywrap">

  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <div class="container">

    <section class="main">
      <% current_year = 0 %>
      <% current_month = 0 %>
      <% @diaries.each do |diary| %>
      <div>

        <% if current_year != diary.diary_date.year || current_month != diary.diary_date.month %>
        <% current_year = diary.diary_date.year %>
        <% current_month = diary.diary_date.month %>
        <span class="year"><%= diary.diary_date.year %></span>
        <span class="month"><%= diary.diary_date.month %></span>
        <% end %>
      </div>
      <%= link_to diary_path(diary),class:'diary' do %>
      <div class="items">
        <div class="date">
          <span class="day"><%= diary.diary_date.day %></span>
          <span class="week"><%= diary.week %></span>
        </div>

        <div class="info">
          <div class="content">
            <%= simple_format(excerpt(diary.content,'',radius: 20)) %>
          </div>
          <% if diary.location.try(:[], 'address') %>
          <div class="location">
            <%= diary.location.try(:[], 'address')  %>
          </div>
          <% end %>
        </div>

        <div class="pic">
          <%= image_tag diary.picture.service_url if diary.picture.attached? %>
        </div>

      </div>
      <% end %>
      <% end %>
    </section>

    <section class="sidebar">
      <%= render 'layouts/sidepocket' %>
      <%= render 'layouts/sidedraft' %>
    </section>

  </div>

</div>