<div class="wrap">
<%= render 'header' %>
<%= render 'nav' %>
<div class="container">

  <section class="main form">
  <%= simple_form_for @diary do |form| %>

  <div class="form-pic">圖片</div>

  <div class="form-date"><%= form.input :diary_date, as: :date, html5: true,order: [:year,:month,:day],label: false %></div>

  <div class="form-location">地點</div>
  
  <div class="form-content"><%= form.input :content, label: false, placeholder: '輸入內容' %></div>
  
  <div class="form-tag">
  <span>Tags</span>
    <div class="tag-used"></div>
  <span>Add Tags</span>  
    <div class="tag-option"></div>
  <span>Create Tag</span>
    <div class="tag-option"></div>
  </div>
  

    <%= form.button :submit,'送出',value:'publish', name:'commit' , class:'btn btn-lead' %>
    <%= form.button :submit, '稍後編輯',value:'unpublish', name:'commit',class:'btn btn-minor' %>
  <% end %>
  </section>
  <section class="btns">
  </section>

  <section class="sidebar">
    <%= render 'sidepocket' %>
    <%= render 'sidedraft' %>
  </section>





</div>
</div>