<div class="diarywrap">
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <div class="container">
    <!--<%= render 'pictures/form', picture: @picture %>-->

    <section class="main form">
      <%= simple_form_for @diary do |form| %>

      <!--<div class="form-pic"><%= link_to '新增旅遊圖片', new_picture_path %>-->
      <div class="form-pic">


        <div>
          <img class="preview">
          <div class="size"></div>
        </div>
        <div class="upload-btn">
          <%= form.label(:picture)  do %>
            <div class="btn">選擇照片</div>
          <% end %>
          <%= form.file_field :picture, class: 'upl pic', style: 'display:none;' %>
          
        </div>
      </div>



      <div class="form-date">
        <%= form.input :diary_date, as: :date, html5: true,label: false %></div>

      <div class="form-location">

        <% if @diary.location.try(:[],"name") %>
        <h1><%= @diary.location.try(:[],"name") %></h1>
        <%= render 'diaries/map' %>
        <% end %>
      </div>

      <div class="form-content"><%= form.input :content, label: false, placeholder: '記錄點什麼吧^_^' %></div>
      
        <div class="hidden_form">
        </div>


      <div class="form-tag">

        <div class="tags TagItems">
        <% unless @tag_items.nil? %>
          <% @tag_items.each do |tag| %>
            <span class="tag-item"><%= tag.label %></span>
          <% end %>
        <% end %>
        </div>




        <div class="tags UserTags">
          <% @user_tags.each do |tag| %>
          <span class="tag-item"><%= tag.label %></span>
          <% end %>
        </div>
        <div class="tags NewTag">
          <input type="text" placeholder="輸入Tag" id="tagInput" class="">
          <input type="button" value="新增自訂標籤" id="tagBtn" class="btn btn-primary">
        </div>

      </div>

      <section class="btn-link">
        <input type="hidden" id="is_published" name="is_published" value="false" />
        <% if action_name == 'edit' %>
        <%= link_to '返回', diary_path, class:'btn btn-secondary btn-linkto', data: { confirm: '日記正在編輯中，尚未儲存，是否放棄編輯？'} %>
        <%= form.button :submit, '稍後編輯', class:'btn btn-secondary js-submit', data: { is_published: false }  %>
        <%= form.button :submit,'確定修改' , class:'btn btn-primary js-submit', data: { is_published: true } %>
        <% else %>
        <%= link_to '返回', root_path, class:'btn btn-secondary btn-linkto' %>
        <%= form.button :submit, '稍後編輯', class:'btn btn-secondary js-submit', data: { is_published: false }  %>
        <%= form.button :submit,'新增' , class:'btn btn-primary js-submit', data: { is_published: true } %>
        <% end %>
      </section>




    </section>

    <% end %>

    <section class="sidebar">
      <%= render 'layouts/sidepocket' %>
      <%= render 'layouts/sidedraft' %>
    </section>

  </div>
</div>

<script>

$(document).ready(function(){
  // setting submit value
  $('.js-submit').click(function(){
    var $this = $(this)
    $('#is_published').val($this.data('is-published'))
  })


  // init origin tags data
  var originTags;
  var originUserTags;

  if ($('.TagItems .tag-item').length!=0){
    originTags = $('.TagItems').get()[0].innerText.split("\n")
    originTags.forEach(function(item){
      createHiddenInput(item)
    })
  }

  if ($('.UserTags .tag-item').length!=0){
    originUserTags = $('.UserTags').get()[0].innerText.split(" ")
  }

  $('.TagItems').on('click','.tag-item',function(){
    var $this = $(this)
    var $tagObj = $this.context.innerHTML
    var tagSpan = "<span class='tag-item'>" + $tagObj + "</span>"
    $('.UserTags').append(tagSpan)
    removeHiddenInput($tagObj)
    $this.remove()
  })

  $('.UserTags').on('click','.tag-item',function(){
    var $this = $(this)
    var $tagObj = $this.context.innerHTML
    var tagSpan = "<span class='tag-item'>"+ $tagObj +"</span>"
    $('.TagItems').append(tagSpan)
    createHiddenInput($tagObj)
    $this.remove()
  })

  $('#tagBtn').on('click',function(){
    var tagInput = $('#tagInput').val()
    var tagSpan = "<span class='tag-item'>"+ tagInput +"</span>"
    $('.TagItems').append(tagSpan)
    createHiddenInput(tagInput)
    $('#tagInput').val('')
  })



function createHiddenInput(item){
  let HiddenInput = "<input type='hidden' name='label[]' value='"+ item +"'>"
  $('.hidden_form').append(HiddenInput)
}
function removeHiddenInput(item){
  var $removeInput = $(".hidden_form input[value='" + item + "']")
  $removeInput.remove()
}
});
</script> 
