<div class="diarywrap">

  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <div class="container">
    <section class="main">
      <section class="show-diary">
        <div class="picture"><%= image_tag @diary.picture if @diary.picture.attached? %></div>
        <div class="location"><%=  %></div>
        <div class="date">
          <%= @diary.diary_date.year %>年
          <%= @diary.diary_date.month %>月
          <%= @diary.diary_date.day %>日
          星期<%= @diary.week %>
        </div>

        <div class="content"><%= @diary.content %></div>
        <div class="tags">
          <% @tag_items.each do |tag| %>
          <span class="tag-item"><%= tag.label %></span>
          <% end %>
        </div>
        <section class="btn-link">
          <%= link_to '返回', root_path, class:'btn btn-secondary' %>
          <%= link_to '刪除', diary_path, method:'delete', class:'btn btn-danger', data:{ confirm:'確定刪除？' } %>
          <%= link_to '修改', edit_diary_path, class:'btn btn-primary' %>
        </section>
      </section>



    </section>

    <section class="sidebar">
      <%= render 'layouts/sidepocket' %>
      <%= render 'layouts/sidedraft' %>
    </section>
  </div>


</div>