<div class="wrap">
  <div class="form-page forgot">
    <h1>GoGoDiary</h1>
    <div class="slogn">
      <p>幫您解決記錄的問題</p>
      <p>GoGoDiary．GoGoForever</p>
    </div>
    <div class="form">
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>
      <% end %>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
