<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
<div class="container">

  <section class="main">

    <h3>編輯您的標籤名稱</h3>
    <%= simple_form_for(@setting, url: "#{setting_path}/#{@section}") do |f| %>
    <div><%= f.input :label, label:'標籤：' %></div>
    <div><%= f.submit '儲存' %></div>
    <% end %>
  </section>
</div>