<div class="diarywrap">
<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>

  <div class="container">
    <section class="main">
      <h3>您目前擁有的標籤</h3>
      <div class="setting-tag-content">
      <% @user_tags.each do |tag| %>
      <div class="items">
        <span class="item tag-item"><%= tag.label %></span>
        <%= link_to '編輯', edit_setting_path(id: tag.id), class:"item-edit btn btn-primary" %>
        <%= link_to '刪除', setting_path(id: tag.id), method: "delete", data: { confirm: "確認刪除？" }, class:"item-delete btn btn-primary" %>
      </div>
      <% end %>
      </div>
    </section>
    <section class="sidebar">
      <div class="tags NewTag setting">
      <h3>新增自訂標籤</h3>
        <%= form_tag("/settings", method: "post") do %>
          <input type="text" placeholder="輸入Tag" id="tagInput" name="label">
          <input type="submit" value="新增" id="tagBtn" class="btn btn-primary">
        <% end %>
        <%= notice %>
      </div>
    </section>
  </div>
</div>
<script>
$(document).ready(function(){
  $('#tagBtn').on('click',function(){
    let tagRgx = /\s/
    var tagInput = $('#tagInput').val()
    if (tagInput.match(tagRgx)){
      alert('標籤不能有空白字元喔')
    }
  })
})
</script>
    
    