<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>

<div class="container">
  
  <table class="table table-hover">
    <thead>
    <p>您目前儲存的標籤</p>
      <tr>
        <th>標籤名稱</th>
      </tr>
    </thead>
    <tbody>
    <% @user_tags.each do |tag| %>
      <tr>
        <td><%= tag.label %></td>
        <td><%= link_to '編輯', edit_setting_path(id: tag.id), class:"btn btn-outline-secondary btn-linkto" %>
          <%= link_to '刪除', setting_path(id: tag.id), method: "delete", data: { confirm: "確認刪除？" }, class:"btn btn-outline-secondary btn-linkto" %>
        </td>
      </tr>
    <% end %>
      </tbody>
  </table>
  <div class="tags NewTag">
    <%= form_tag("/settings", method: "post") do %>
      <input type="text" placeholder="輸入Tag" id="tagInput" name="label">
      <input type="submit" value="新增自訂標籤" id="tagBtn" class="btn btn-primary">
    <% end %>
    <%= notice %>
  </div>
    
</div>

<script>
$(document).ready(function(){
  $('#tagBtn').on('click',function(){
    let tagRgx = /\s/
    var tagInput = $('#tagInput').val()
    if (tagInput.match(tagRgx)){
      alert('標籤不能有空白字元喔')
    }
  })
})
</script>
    
    