<div class="diarywrap">

  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <div class="container">

    <section class="main">
      <div class="form-search">
        <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Search' %>
        <% end %>
      </div>
      <% current_year = 0 %>
      <% current_month = 0 %>
      <% @diaries.each do |diary| %>
      <div>

        <% if current_year != diary.diary_date.year || current_month != diary.diary_date.month %>
        <% current_year = diary.diary_date.year %>
        <% current_month = diary.diary_date.month %>
        <span class="year"><%= diary.diary_date.year %></span>
        <span class="month"><%= diary.diary_date.month %></span>
        <% end %>
      </div>
      <%= link_to diary_path(diary),class:'diary' do %>
      <div class="items">
        <div class="date">
          <span class="day"><%= diary.diary_date.day %></span>
          <span class="week"><%= diary.week %></span>
        </div>

        <div class="info">
          <div class="content">
            <%= simple_format(excerpt(diary.content,'',radius: 20)) %>
          </div>
          <div class="location"><%= diary.location %></div>
        </div>

        <div class="pic">
          <%= image_tag diary.picture if diary.picture.attached? %>
        </div>
      </div>
      <% end %>
      <% end %>
    </section>
    <section class="sidebar">
      <div class="tags SearchTags">
        <% @tags.each do |tag| %>
        <%= link_to search_path(tag.id) do %>
        <span class="tag-item"><%= tag.label %></span>
        <% end %>
        <% end %>
      </div>
    </section>
  </div>

</div>