<div class="headerbox">
  <div class="header">
    <ul>
      <li class='logo'><%= link_to 'GoGoDiary', root_path %></li>
      <li class='search-bar'>
        <%= link_to "Search", new_search_path %>
      </li>
      <li class='list'>
      </li>
      <li><%= link_to 'Setting', settings_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'SignOut', destroy_user_session_path, method:'delete' %></li>
      <% end %>
      <% if not user_signed_in? %>
        <li><%= link_to 'SignIn', new_user_session_path %></li>
        <li><%= link_to 'SignUp', new_user_registration_path %></li>
      <% end %>
      
    </ul>
  </div>
</div>
