<div class="navbox">
  <nav class="nav show-in-pc">
    <ul>
      <li><%= link_to 'Explore', 'users#index' %></li>
      <li><%= link_to 'Pocket', '#' %></li>
      <li><%= link_to 'Diary', new_diary_path %></li>
      <li><%= link_to 'Draft', drafts_path %></li>
      <li><%= link_to 'Setting', '#' %></li>
    </ul>
  </nav>
</div>