<section class="sidebar-pocket">
  <header>pocket</header>
  <% @pockets.each do |pocket| %>
  <a class="sidelink" href="#">
    <section class="sidebar-list">
      <div class="date">
        <div>
          <span class="month"><%= pocket.expect_date.month %></span>
          <span class="day"><%= pocket.expect_date.day %></span>
        </div>
        <div>
          <span class="week"><%= pocket.week %></span>
        </div>
      </div>
      <% if pocket.location.try(:[], 'name') %>
      <div class="location"><%= pocket.location['name'] %></div>
      <% end %>
    </section>
  </a>
  <% end %>
  <%= link_to 'more', pockets_path ,class:'more'%>
</section>