<section class="sidebar-draft">
  <header>draft</header>
  <% @drafts.each do |draft| %>
  <a class="sidelink" href="#">
    <section class="sidebar-list">
    
      <div class="date">
        <div>
          <span class="month"><%= draft.diary_date.month %></span>
          <span class="day"><%= draft.diary_date.day %></span>
        </div>
        <div>
          <span class="week"><%= draft.week %></span>
        </div>
      </div>
      <div class="content"><%= simple_format(excerpt(draft.content,'',radius: 10)) %></div>
      <div class="pic">
      </div>
    </section>
  </a>
  <% end %>
  <%= link_to 'more...', drafts_path, class:'more' %>
</section>
